body {
    font-family: Arial, sans-serif;
    background: #090b0d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.player {
    background: #707782;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 3px;
}

.album {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.progress {
    width: 100%;
    height: 6px;
    background: #ccc;
    margin: 15px 0;
    border-radius: 5px;
}

.bar {
    width: 40%;
    height: 100%;
    background: #18b2ef;
    border-radius: 5px;
}

.controls button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.controls button:hover {
    background: #18b2ef;
    border-color: #18b2ef;
}

.play {
    font-size: 18px;
}